<h1>Fruit Basket</h1>
<span class="data">raw data: <%= @fruits %></span>
<br />
<%= link_to "Order by Name - ASC", basket_case_order_by_fruit_path(order: "asc"), class: "button"%>
<%= link_to "Order by Name - DESC", basket_case_order_by_fruit_path(order: "desc"), class: "button"%>
<%= link_to "Order by Amount - ASC", basket_case_order_by_amount_path(order: "asc"), class: "button"%>
<%= link_to "Order by Amount - DESC", basket_case_order_by_amount_path(order: "desc"), class: "button"%>

<div class="container">
<%- @list_items.each do |fruit, amount| %>
  <p><%= fruit %> : <%= amount %></p>
<% end %>
</div>
