<h1>Fruit Basket</h1>
<span class="data">raw data: <%= @fruits %></span>
<br />

<%= form_tag(basket_case_index_path, method: 'get') do %>
  <label>Sort by:
    <%= select_tag(:sort_by, options_for_select([['Amount', 'amount'], ['Name', 'name']], params[:sort_by])) %>
  </label>

  <label>Order:
    <%= select_tag(:order, options_for_select([['Ascending', 'asc'], ['Descending', 'desc']], params[:order])) %>
  </label>

  <%= submit_tag 'Sort' %>
<% end %>

<div class="container">
<%- @list_items.each do |fruit, amount| %>
  <p><%= fruit %> : <%= amount %></p>
<% end %>
</div>
